/*_*_*_*_*_*_*_*_*_*_*_*	CSS DEL HEADER/ NAV	*_*_*_*_*_*_*_*_*_*_*_*_*/

.collapse, .navbar-collapse, .navbar-ex1-collapse,.nav, .navbar-nav, ul ,li{
	background-color: #1E90FF;
	
}

a:focus,a:hover , .open:focus,.open:hover {
color: #000;
background-color: #7B68EE transparent;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
	color: #000;
	background-color: #7B68EE;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
	color: #000;
	background-color: #7B68EE;
}

.txtnav{
	color : white;
}

.glyphicon{
	color:white;
}

.dropdown:hover , .dropdown-toggle:hover, ul:hover ,li:hover {
 background-color:#7B68EE;
}

.jumbotron{
	margin-top: 0px;
	padding-top: 0px;
	width : 80%;
	margin-left: 10%;
  	margin-right: 10%;
}

body{
	background-image: url("../imagenes/b1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron{

	margin-top: 0px;
	padding-top: 0px;
	width : 80%;
	margin-left: 10%;
  	margin-right: 10%;
  	background-color: rgba(238,238,238, 0.1);
}

.jumbotron h1 {
	color:white;
}

/*_*_*_*_*_*_*_*_*_*_*_*	CSS DEL CUERPO	*_*_*_*_*_*_*_*_*_*_*_*_*/

.form{
	margin-left: auto;
  	margin-right: auto;
}

.textform{
	margin-left: auto;
  	margin-right: auto;
  	font-size: 20px;
}

.form-group{
	width :30%;
	margin-left: auto;
  	margin-right: auto;
}

h1,h4,p,.textform {
	margin-left : 5%;
	margin-right : 5%;
	margin-bottom :10px;
	color:#E5ECFE;
}

p{
	margin-top : 5%;
	margin-bottom : 5%;
	color:#E5ECFE;
}

#cuerpo{
	margin-left: 40%;
  	margin-right: 40%;
}

button{
	margin-left: auto;
  	margin-right: auto;
}

.btn, .btn-default{
	margin-left: 45%;
  	margin-right: 45%;
	background-color:#7B68EE;
	border-width: 3px;
	border-color: white;
	color : white;	
}
#contenedor_iconos{
	width : 100%;
}

#icono {
	width : 20%;
	float :left;
	margin-left: 10px;
	margin-right: 10px;
}

#GoogleMaps{
	width: 800px; 
    height:600px;
    margin-left: 5%;
    margin-right: 5%;
    border: solid 3px;
    border-spacing: 2px;
    border-color: black;    
}

/*_*_*_*_*_*_*_*_*_*_*_*	CSS DE LA BUSQUEDA	*_*_*_*_*_*_*_*_*_*_*_*_*/

.media-object{
	width :	100px;
	height: 100px;
	overflow : visible;
}
.descripcion_producto{
	margin-left : 10px;
	margin-right : 10px;
	color: #1E90FF;
	font-size: 20px;
}

.media-heading{
	color:#E5ECFE;
	margin-left: 20px;
}

 .panel-success {
	background-color: #1E90FF;
}
.precio{
	color:#7B68EE;
	font-size: 30px;
	margin-left: 0px;
  	margin-right: 20px;
	float: right;
}
#boton_compra{
	color: white;
	font-size: 20px;
	margin-left: 0px;
  	margin-right: 20px;
	float: right;
}

/*_*_*_*_*_*_*_*_*_*_*_*	CSS DEL FOOTER	*_*_*_*_*_*_*_*_*_*_*_*_*/
